.article
  = @index
  .editions_info
    = "Выпуск: %s Год: %s" % [ @edition.json['Номер выпуска'], @edition.json['Год'] ]
  - a = @articles[@index - 1]
  %table
    = '<tr>'
    = '<td>' + 'Образец цитирования'
    %table
      = '<tr>' 
      = '<td>' + 'Год'
      = '<td>' + a.json['Год']
      = '<td>' + 'Выпуск' 
      = '<td>' + a.json['Номер выпуска']
      = '<td>' + 'Страницы' 
      = '<td>' + a.json['Страницы']
    = '<tr>'
    = '<td>' + 'Название статьи'
    = '<td>' + a.text
    = '<tr>'
    = '<td>' + 'Автор(ы)' 
    - if  a.json['Авторы'] 
      = '<td>' + a.json['Авторы']
    - else
      = '<td>'
    = '<tr>'
    = '<td>' + 'Коды статьи' 
    - if  a.json['Коды']
      = '<td>' + a.json['Коды']
    - else
      = '<td>'
    = '<tr>'
    = '<td>' + 'Аннотация'
    - if  a.json['Аннотация']
      = '<td>' + a.json['Аннотация']
    - else
      = '<td>'
    = '<tr>'
    = '<td>' + 'Поступила в редакцию' 
    - if  a.json['Поступила в редакцию']
      = '<td>' + 'Поступила в редакцию' 
    - else
      = '<td>'
    = '<tr>'
    = '<td>' + 'Ключевые слова' 
    - if  a.json['Ключевые слова']
      = '<td>' + a.json['Ключевые слова']
    - else
      = '<td>'
    = '<tr>'
    = '<td>' + 'Список литературы'
    - if  a.json['Список литературы']
      = '<td>' + a.json['Список литературы']
    - else
      = '<td>'
    = '<tr>'
    = '<td>' + 'Полный текст' 
    - if  a.json['Полный текст']
      = '<td>' + a.json['Полный текст']
    - else
      = '<td>'
    
  .before_article 
    - if @before_article
      = link_to '<< Предыдущая статья', @year + '-' + @num + '-' +  @before_article.to_s
  .after_article
    - if @after_article 
      = link_to 'Следующая статья >>',  @year + '-' + @num + '-' +  @after_article.to_s
        