.edition_archive
  - year = ""
  - count = {}
  - @editions.each do |e|
    - y = e.json['Год']
    - count[y] ||= 0
    - count[y] += e.json['Статей в выпуске'].to_i
  %table
    - @editions.each do |e|
      - if year == e.json['Год']
        = '<td>'
        = link_to e.json['Номер выпуска'].to_s + ' (' + e.json['Статей в выпуске'].to_s + ')', "archive/edition/" + e.json['Год'] + "-" + e.json['Номер выпуска'].to_s + "-1" 
      - else
        = '<tr>'
        = '<td>'
        = e.json['Год']
        = '<td>'
        = 'Всего статей: ' + count[e.json['Год']].to_s
        = '<td>'
        = link_to e.json['Номер выпуска'].to_s + ' (' + e.json['Статей в выпуске'].to_s + ')', "archive/edition/" + e.json['Год'] + "-" + e.json['Номер выпуска'].to_s + "-1"
      - year = e.json['Год']
      
